body{
  font-family: Arial;
}
.hello{
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(236, 236, 236);
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.15s;
}
.hello:hover{
  opacity: 0.8;
}
.hello:active{
  opacity: 0.5;
}
.subscribed{
  background-color:black;
  color: rgb(236, 236, 236);
}
.js-value{
  padding: 10px 0 10px 10px;
  width: 200px;
  font-size: 15px;
}
.js-calculate{
  background-color: green;
  border: none;
  padding: 11px 15px 11px 15px;
  color: white;
  font-size: 15px;
  transition: opacity 0.15s;
  cursor: pointer;
}
.js-calculate:hover{
  opacity: 0.8;
}
.js-calculate:active{
  opacity: 0.6;
}